@font-face {
    font-family: "Neo Sans Pro";
    font-display: swap;
    font-weight: 700;
    src: url("../fonts/neosanspro-bold.ttf") format("ttf"),
    url("../fonts/neosanspro-bold.woff") format("woff");
}

@font-face {
    font-family: "Neo Sans Pro";
    font-display: swap;
    font-weight: 400;
    src: url("../fonts/NeoSansPro-Regular.ttf") format("ttf"),
    url("../fonts/NeoSansPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "Neo Sans Pro";
    font-display: swap;
    font-weight: 500;
    src: url("../fonts/NeoSansPro-Medium.ttf") format("ttf"),
    url("../fonts/NeoSansPro-Medium.woff") format("woff");
}

